@import './base.css';

#app {
  padding-top: 50px;
  background-image: linear-gradient( 110.6deg,  rgb(116, 133, 156) -18.3%, rgb(69, 76, 102) 16.4%, rgba(47,48,67,1) 68.2%, rgba(27,23,36,1) 99.1% );
  width: 100vw;
  height: 100vh;
  text-align: center;
} 
